HTML{
	font-family: fantasy, Papyrus,serif;
	background-color: #26190f;
	background-image: url(/img/sea-edge-79ab30e2.png);
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


.fancy-header{
	color: purple;
	text-decoration: underline;
	text-decoration-color: darkgoldenrod;
	text-align: center;
	font-family: Brush Letters, sans-serif;
	animation-duration: 8s;
	animation-name: slidein;
	animation-iteration-count: infinite;
}
@keyframes slidein {
	0% {
		margin-left: 0%;
	}
	50% {
		margin-left: 300px;
	}
	100% {
		margin-left: 0%;
	}
}

.second-header{
	color: purple;
}

.list{
	color: darkgoldenrod;
}

hr{
	border: 1px solid darkgoldenrod;
}

img{
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-style: groove;
	border-color: darkgoldenrod;
	border-radius: 50%;
}
img:hover {
	padding: 40em;
	background-color: darkslateblue;
	transition: transform .2s; /* Animation */
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

list, ul{
	list-style-type: georgian;
}

list, ol{
	list-style-type: lower-roman;
}

a:visited{
	color: cornflowerblue;
}