.background{
	background-color: #26190f;
}
.fancy-header{
	color: purple;
	text-decoration: underline;
	text-decoration-color: darkgoldenrod;
	text-align: center;
}
.second-header{
	color: purple;
}
.list{
	color: darkgoldenrod;
}

.hr{
	border: 1px solid darkgoldenrod;
}

.img{
	width: 200px;
	height: 200px;
	border-style: groove;
	border-color: darkgoldenrod;
	border-radius: 50%;
}